<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interdroid.swan.stepahead"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <receiver android:name="interdroid.swan.stepahead.StepWidget" >
            <intent-filter>
                <data
                    android:host="StepWidget"
                    android:scheme="swanexpression" />

                <action android:name="interdroid.swan.NEW_VALUES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/step_widget_info" />
        </receiver>
        -->
        <receiver android:name="interdroid.swan.stepahead.StepAheadWidget" >
            <intent-filter>
                <data
                    android:host="interdroid.swan.stepahead"
                    android:scheme="swan" />

                <action android:name="interdroid.swan.NEW_TRISTATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/step_widget_info" />
        </receiver>
    </application>

</manifest>